.banner{
    text-align: center;
    background-image: var(--main-gradient-blue-color);
    color:var(--white);
    padding:2em 2.5em;
}
.banner__title{
    font-size: 18px;
    font-weight: 700;
}
.banner__text{
    margin:1em 0;
    line-height: 24px;
}
.banner__search{
    background-color: transparent;
    border:1px solid var(--white);
    border-radius: 5em;
    width:100%;
    padding:1em;
    color:var(--white);
}
.banner__search::placeholder{
    background-image:url("../img/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1em;
    color:var(--white);
    text-align: center;

}

@media screen and (min-width:1024px){
    .banner{
        padding:5em 0;
    }
    .banner__title{
        font-size: 36px;
    }
    .banner__search{
        width:476px;
    }
    .banner__search::placeholder{
        background-position: 8em;
        
    }

}