
.carrossel__title{
    color:var(--main-color-yellow);
    text-align: center;
    background-color: var(--white);
    padding:1em;
    text-transform: uppercase;
    font-weight:700;

}

.swiper-slide img{
    width:100%;
}

.swiper-pagination{
    position:static;
    margin-top:.5em;
}
.swiper-button-prev, .swiper-button-next{
    display:none;
}


@media screen and (min-width:1024px){
    .carrossel__title{
        font-size:26px;
    }
    .swiper{
        width:60%;
    }
    
    .swiper-pagination{
        margin:2em 0;
    }
    .swiper-pagination span{
        width:14px;
        height:14px;
    }
    .swiper-button-prev, .swiper-button-next{
        display:block;
        top:60%;
        right:0;
    }
    
}
@media screen and (min-width:1728px){
    .swiper{
        margin:0;
    }
    .swiper{
        width:45%;
    }
    
    .swiper-pagination{
        margin:0 0 2em 0;
    }
    .carrossel__container{
        display:flex;
        align-items:flex-end;
        justify-content: space-between;
        margin:3em 10vw 5em;
    }
     
    
    
}